<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Edit</title>
</head>
<body>
  <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
  
  <form action="/update/{{list.id}}" method="POST">
    {% with messages = get_flashed_messages(category_filter=['name']) %}
      {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <input type="hidden" name="id" value={{list.id}}>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{list.name}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" value="{{list.description}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="item">Items</label>
        <textarea name="item" cols="30" rows="10" value="{{list.item}}" class="form-control">{{list.item}}</textarea>  
      </div>

      <!-- {% for item in items %}
        <div class="form-group">
          <label for="name">item</label>
          <input type="text" name="name" value="{{item.name}}" class="form-control">
        </div>
      {% endfor %} -->

      <button class="btn btn-dark" type="submit">Save</button>
  </form>

  <button class="btn btn-dark"><a href="/create">Create A New List</a></button> 
  <button class="btn btn-dark"><a href="/trip">Add A New Trip</a></button>
  <button class="btn btn-danger"><a href="/welcome">Back to Home</a></button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>