<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Index</title>
</head>
<body>
  <div>
    <h1>Description</h1>
  </div>
  <div class="text">
    <p class="text-center">
      I created this website to help people when packing for a trip. I can't tell you how many times I've looked online for pre-packing lists and then I forget something that I had bought specifically for this that wasn't referenced in the list. I frequently forget items, even if I start my list several days in advance. And since I take similar items on similar trips, I always thought it would be cool to have multiple lists saved that had all of the items that I might want to bring for my rock climbing trip or for my scuba diving trip. I have lists for road trips vs plane. This has saved so much time on my part and I really hope that it saves you time and stress as well on your next vacation. 
    </p>
  </div>
  <div>
    <button class="btn btn-dark">
      <a href="/login">Login</a>
    </button>
    <button class="btn btn-dark">
      <a href="/register">Register</a>
    </button>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>