*{
  padding-top: 50px;
  background-color: #f5f5f5;

}

body{
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  color: red;
}

.text{
  width: 500px;
}

.welcome {
  display: flex;
}

.welcome{
  width: 1200px;
}   
.card{
  width: 500px;
  margin: 30px;
}

button{
  margin: 10px;
}

/* .lists, .trips{
  width: 500px;
  flex-direction: column;
}

.lists{
  justify-content: column;
}

.justify{
  justify-content: space-between;
}

.aligning{
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 5px ;
} */